@CHARSET "US-ASCII";

.formtable {
	width: 400px;
	padding: 10px;
	border: 1px solid blue;
}

input[type=text] {
	width: 250px;
	
}

textarea {
	width: 250px;
	height: 150px;
}

.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
	color:blue;
}
.error{ 
	font-size:small;
	margin-left:10px;
	color:red;
}
#aaa{
	color:red;
}
table.offers{
	padding:10px;
	border:1px solid gray;
}